<div id="calculator">
	<input type="text" id="txtScreen" {{prop value=current}}>
	<div class="numericPad">
		<div class="rowsNumPad">
			<input type="button" value="7" class="btnNum" {{on "click" this.append}}>
			<input type="button" value="8" class="btnNum" {{on "click" this.append}}>
			<input type="button" value="9" class="btnNum" {{on "click" this.append}}>
		</div>
		<div class="rowsNumPad">
			<input type="button" value="4" class="btnNum" {{on "click" this.append}}>
			<input type="button" value="5" class="btnNum" {{on "click" this.append}}>
			<input type="button" value="6" class="btnNum" {{on "click" this.append}}>
		</div>
		<div class="rowsNumPad">
			<input type="button" value="1" class="btnNum" {{on "click" this.append}}>
			<input type="button" value="2" class="btnNum" {{on "click" this.append}}>
			<input type="button" value="3" class="btnNum" {{on "click" this.append}}>
		</div>
		<div class="rowsNumPad">
			<input type="button" value="0" class="btnNum" {{on "click" this.zero}}>
			<input type="button" value="=" class="btnNum">
		</div>
	</div>
	<!--   End class numericPad -->

	<div class="funtionPad">
		<div class="rowsFuntionPad">
			<input type="button" value="DEL" class="btnFuntionPad" {{on "click" this.backspace}}>
		</div>
		<div class="rowsFuntionPad">
			<input type="button" value="รท" class="btnFuntionPad">
		</div>
		<div class="rowsFuntionPad">
			<input type="button" value="x" class="btnFuntionPad">
		</div>
		<div class="rowsFuntionPad">
			<input type="button" value="-" class="btnFuntionPad">
		</div>
		<div class="rowsFuntionPad">
			<input type="button" value="+" class="btnFuntionPad">
		</div>
	</div>
	<!--   End class funtionPad -->

	<div class="extraFuntionPad">
		<div class="rowsExtraFuntionPad">
			<input type="button" value="!" class="btnExtraFuntionPad">
			<input type="button" value="PI" class="btnExtraFuntionPad">
			<input type="button" value="^" class="btnExtraFuntionPad">
		</div>
	</div>
	<!--   End class extraFuntionPad -->
</div>
<!-- End calculator -->
